<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla.html :: head">
    <title>Datos de la Persona</title>
    <meta charset="UTF-8" />
</head>

<body>
    <header th:replace="layout/plantilla.html :: header"></header>
    <section th:replace="layout/editarCliente.html :: editarCliente"></section>
    <footer th:replace="layout/plantilla.html :: footer"></footer>
</body>

</html>